#header {
    // margin-bottom: 20px;
}

#content {
    padding: 50px;

    button {
        &:first-child {
            margin-bottom: 50px;
        }
    }

    .card-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 150px;
    }
}

.render-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    .loader {
        border: 4px solid #f3f3f3; /* Light grey */
        border-top: 4px solid #3498db; /* Blue */
        border-radius: 50%;
        width: 30px;
        height: 30px;
        animation: spin 1s linear infinite;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}

.searchArea {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 50px;

    input {
        width: 220px;
    }
}
